bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.vs/SoundSoul/FileContentIndex/053a6455-cb28-4d1b-b81a-474fa5e52804.vsidx
.vs/SoundSoul/FileContentIndex/1cb5428d-d67b-4dec-bc29-57ba4209956c.vsidx
.vs/SoundSoul/FileContentIndex/2924ac96-3cd1-462c-bff4-f98fb93eebd5.vsidx
.vs/SoundSoul/FileContentIndex/read.lock
.vs/SoundSoul/v17/.futdcache.v2
*.vsidx
.vs/SoundSoul/v17/.suo
*.1
*.v2
.vs/SoundSoul/FileContentIndex/write.lock
.idea